/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
html {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.selection {
  background: linear-gradient(rgba(0, 0, 0, 0.589), rgba(0, 0, 0, 0.329)),
    url("/img/background.png") no-repeat center center/cover;
  background-attachment: fixed;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  color: #fff;
  
}
.selection h1 {
  font-size: 80px;
  text-align: center;
  
}
.selection h2 {
  font-size: 50px;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 600px;
  max-height: 500px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.columns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgb(33, 30, 30);
  color: white;
  
}
.leftcolumn {
  width: 80%;
  height: auto;
  padding-bottom: 2.5rem;
}

.rightcolumn {
  width: 90%;
  height: auto;
  
}

h3 {
  max-height: 900px;
  max-width: 900px;
}
.input {
  display: inline-block;
  line-height: 2;
  font-weight: 400;
  padding: 6px 12px;
  font-size: 20px;
  text-align: center;
  border: 1px solid #aec8ee;
  border-radius: 0.25rem;
}

.input:hover {
  border-color: #becee749;
  cursor: pointer;
}

.btn {
  cursor: pointer;
  outline: 0;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.5);
  border-color: #f0f2f5;
  display: inline-block;
  font-weight: 400;
  line-height: 2;
  text-align: center;
  border: 1px solid;
  padding: 6px 12px;
  margin-left: 0.5rem;
  font-size: 20px;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {
  color: rgb(255, 255, 255);
  background-color: #0b5ed7;
  border: 2px solid #0a58ca;
}

.video {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.589), rgba(0, 0, 0, 0.329)),
    url("/img/background.png") no-repeat center center/cover;
  background-attachment: fixed;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media(max-width: 800px){
  .selection h1 {
    font-size: 60px;
    outline: 2px solid red;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
  }

  .columns {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }

  .leftcolumn {
    width: 80%;
    height: auto;
  }

  img {
    display: block;
    max-width: 550px;
    max-height: 400px;
  }
  .rightcolumn {
    width: 80%;
    height: auto;
  }

}